
	body{
background-color: #83B4EF;
margin-left: 0px;
margin-right: 0px;
margin-top: 1px;
}

.topbluesq{
	position: static;
	width: 100%;
	height: 125px;
	left: 0px;
	top: 0px;
	background: #83B4EF;
}

.bottombluesq{
	position: static;
	width: 100%;
	height: 185px;
	left: 0px;
	bottom: -50%;
	background: #83B4EF;
}

.topbarline{
	position: absolute;
	width: 100%;
	height: 0px;
	left: 0px;
	top: 215px;
	border: 10px solid #83B4EF;
}

.photo{
	border-radius: 90px;
	position: static;
	margin-left: 120px;
}

.hopethiswhitesquareworks{
	position:  static;
	width: 100%;
	height:90px;
	left: 0px;
	top: 165px;
	background: #fcf886;
}

.aboutwords{
	position: absolute;
	width: 474px;
	height: 534px;
	left: 786px;
	top: 225px;
	font-family: Comfortaa;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	color: #3F48CC;
	font-size: 15px;
}

.aboutwords2{
	position: absolute;
	width: 474px;
	height: 534px;
	left: 786px;
	top: 355px;
	font-family: Comfortaa;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	color: #3F48CC;
	font-size: 15px;
}

.aboutwords3{
	position: absolute;
	width: 474px;
	height: 534px;
	left: 786px;
	top: 545px;
	font-family: Comfortaa;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	color: #3F48CC;
	font-size: 15px;
}

.aboutwordsc{
	position: absolute;
	width: 474px;
	height: 534px;
	left: 786px;
	top: 225px;
	font-family: ZCOOL QingKe HuangYou;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	color: #3F48CC;
	font-size: 25px;
}

.aboutwords2c{
	position: absolute;
	width: 474px;
	height: 534px;
	left: 786px;
	top: 355px;
	font-family: ZCOOL QingKe HuangYou;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	color: #3F48CC;
	font-size: 25px;
}

.aboutwords3c{
	position: absolute;
	width: 474px;
	height: 534px;
	left: 786px;
	top: 545px;
	font-family: ZCOOL QingKe HuangYou;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	color: #3F48CC;
	font-size: 25px;
}

.aboutwordsj{
	position: absolute;
	width: 474px;
	height: 534px;
	left: 786px;
	top: 225px;
	font-family: Kosugi Maru;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	color: #3F48CC;
	font-size: 20px;
}

.aboutwords2j{
	position: absolute;
	width: 474px;
	height: 534px;
	left: 786px;
	top: 355px;
	font-family: Kosugi Maru;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	color: #3F48CC;
	font-size: 20px;
}

.aboutwords3j{
	position: absolute;
	width: 474px;
	height: 534px;
	left: 786px;
	top: 545px;
	font-family: Kosugi Maru;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	color: #3F48CC;
	font-size: 20px;
}

#navBar{
	width: 100%;
	height: 50%;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	position: static;
	background-color: #3F48CC;
}

.introeng{
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	position: static;
	font-family: Comfortaa;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 33px;
	text-align: center;
	color: #3F48CC;
}

.introcn{
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	position: static;
	font-family: ZCOOL QingKe HuangYou;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 33px;
	text-align: center;
	color: #3F48CC;
}

.introjp{
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	position: static;
	font-family: Kosugi Maru;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 33px;
	text-align: center;
	color: #3F48CC;
}

.footererick{
	font-family: Righteous;
	font-size: 35px;
	color: #3F48CC;
}

.footererickc{
	font-family: ZCOOL QingKe HuangYou;
	font-size: 35px;
	color: #3F48CC;
}

.footererickj{
	font-family: Kosugi Maru;
	font-size: 35px;
	color: #3F48CC;
}

.erickchentitle{
	width: 303px;
	height: 57px;
	top: 5%;
	left: 5%;
	right: 0%;
	bottom: 0%;
	font-family: Righteous;
	font-size: 55px;
	color: white;
	position: absolute;
	font-style: normal;
	font-weight: normal;
	line-height: 68px;
	text-align: center;
}

.erickchentitlewtf{
	width: 303px;
	height: 57px;
	top: 0%;
	left: 5%;
	right: 0%;
	bottom: 0%;
	font-family: Righteous;
	font-size: 55px;
	color: white;
	position: absolute;
	font-style: normal;
	font-weight: normal;
	line-height: 68px;
	text-align: center;
}

.chenjunruititle{
	width: 252px;
	height: 57px;
	top: 5%;
	left: 25%;
	right: 75%;
	bottom: 0%;
	font-family: ZCOOL QingKe HuangYou;
	font-size: 55px;
	color: white;
	position: absolute;
	font-style: normal;
	font-weight: normal;
	line-height: 68px;
	text-align: center;
}

.chenjunruititlewtf{
	width: 252px;
	height: 57px;
	top: 0%;
	left: 25%;
	right: 75%;
	bottom: 0%;
	font-family: ZCOOL QingKe HuangYou;
	font-size: 55px;
	color: white;
	position: absolute;
	font-style: normal;
	font-weight: normal;
	line-height: 68px;
	text-align: center;
}


.erikkuchentitle{
	width: 385px;
	height: 57px;
	top: 5%;
	left: 43%;
	right: 50%;
	bottom: 0%;
	font-family: Kosugi Maru;
	font-size: 55px;
	color: white;
	position: absolute;
	font-style: normal;
	font-weight: normal;
	line-height: 68px;
	text-align: right;
}

.erikkuchentitlewtf{
	width: 385px;
	height: 57px;
	top: 0%;
	left: 43%;
	right: 50%;
	bottom: 0%;
	font-family: Kosugi Maru;
	font-size: 55px;
	color: white;
	position: absolute;
	font-style: normal;
	font-weight: normal;
	line-height: 68px;
	text-align: right;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 380px;
  background-color: #3F48CC;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -185px;
  left: -105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.w3-display-container:hover .overlay{
	opacity: 0.95;
}
.textc {
  color: white;
  font-family: ZCOOL Qingke HuangYou;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.textj {
  color: white;
  font-family: Kosugi Maru;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  color: white;
  font-family: Comfortaa;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#3F48CC;

}
.image{
	display: block;
}